.container {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    border-radius: 12px;
    background-image: url(img/england-flag.png)!important;
    background-repeat: no-repeat;
    
    
}

.question-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.quiz-card {
    width: 25rem;
}
.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgb(239, 172, 172);

}
.bg-success, .bg-danger {
    color: white !important;
}